{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
